main {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

div.gallery-frame {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

div.col-1,
div.col-2,
div.col-3 {
    width: 32%;
    display: flex;
    flex-flow: column nowrap;
}

div.gallery-frame > div > img {
    width: 100%;
    margin-bottom: 5%;
}

@media all and (max-width: 900px) {    
    div.gallery-col {
        width: 100%;
    }
    
    div.gallery-col img {
        width: 100% !imptortan;
        height: auto !important;
    }
}