:root {
    --data-base-color: #707070;
    --data-strong-color: #505050;
}

html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width      : 100%;
    height     : 100%;
    margin     : 0;
    padding    : 0;
    overflow   : hidden;
    color      : var(--data-strong-color);
}

.pt-page {
    position  : absolute;
    top       : 0;
    bottom    : 0;
    left      : 0;
    right     : 0;
    width     : 100%;
    height    : 100%;
    border    : 0;
    padding   : 0;
    margin    : 0;
    display   : none;
    visibility: hidden;
    transform : translate(0, 0);
}

.pt-page.loaded {
    display: block;
}

.pt-current-page {
    z-index   : 9;
    visibility: visible;
}

.pt-next-page {
    z-index   : 1;
    visibility: hidden;
}

/* Welcome page */
section.greetings {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index : 99;
}

div.justify {
    width: 50%;
    position: relative;
    left: 50%;
    top: 38%;
    transform: translate(-50%, -50%);
    margin-right: -50%;
}

h2, h3 {
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}

h2 {
    font-size: calc(1.04em * 4);
    font-weight: bold;
}

h3 {
    font-size: calc(0.62em * 4);
    font-weight: 400;
}

#go {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-right: -50%;
    margin-top: 1em;
    font-weight: bold;
    cursor: pointer;
    line-break: strict;
}

#go > .line {
    flex-basis: 6%;
    margin-top: 0.2em;
    height: 1px;
    border-top: 1px solid var(--data-base-color);
}

#go > .circle {
    margin-top: 0.15em;
    width: 0.33em;
    height: 0.33em;
    border: 1px solid var(--data-base-color);
    border-radius: 50%;
}

#go > .circle.l {
    margin-right: 1em;
}

#go > .circle.r {
    margin-left: 1em;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    margin-right: -50%;
    margin-top: 2.5em;
}

.fa {
    width: 5em;
    height: 5em;
    margin-top: 1em;
    border: 1px solid var(--data-base-color);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2em;
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
}

.fa-github {
    background-image: url("/assets/icons/github.png");
}
.fa-facebook {
    background-image: url("/assets/icons/facebook.svg");
}
.fa-web {
    background-image: url("/assets/icons/web.svg");
}
.fa-email {
    background-image: url("/assets/icons/mail.svg");
}
.fa-nothing {
    background-image: url("/assets/icons/");
}

.fa:hover {
    opacity: 1;
    transform: scale(1.1);
}

*, *:active {
    outline: none !important;
}

/* background effect */
.bg {
    height: 30%;
    position: absolute;
    bottom: 0;
    background-image: url("/assets/images/outline.png");


    -moz-animation: bg 60s linear infinite;
    -webkit-animation: bg 60s linear infinite;
    -o-animation: bg 60s linear infinite;
    -ms-animation: bg 60s linear infinite;
    animation: bg 60s linear infinite;

    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

@-moz-keyframes bg { 0% { -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); -o-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0); transform: translate3d(0,0,0); } 100% { -moz-transform: translate3d(-2480px,0,0); -webkit-transform: translate3d(-2480px,0,0); -o-transform: translate3d(-2480px,0,0); -ms-transform: translate3d(-2480px,0,0); transform: translate3d(-2480px,0,0); } }
@-webkit-keyframes bg { 0% { -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); -o-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0); transform: translate3d(0,0,0); } 100% { -moz-transform: translate3d(-2480px,0,0); -webkit-transform: translate3d(-2480px,0,0); -o-transform: translate3d(-2480px,0,0); -ms-transform: translate3d(-2480px,0,0); transform: translate3d(-2480px,0,0); } }
@-o-keyframes bg { 0% { -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); -o-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0); transform: translate3d(0,0,0); } 100% { -moz-transform: translate3d(-2480px,0,0); -webkit-transform: translate3d(-2480px,0,0); -o-transform: translate3d(-2480px,0,0); -ms-transform: translate3d(-2480px,0,0); transform: translate3d(-2480px,0,0); } }
@-ms-keyframes bg { 0% { -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); -o-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0); transform: translate3d(0,0,0); } 100% { -moz-transform: translate3d(-2480px,0,0); -webkit-transform: translate3d(-2480px,0,0); -o-transform: translate3d(-2480px,0,0); -ms-transform: translate3d(-2480px,0,0); transform: translate3d(-2480px,0,0); } }
@keyframes bg { 0% { -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); -o-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0); transform: translate3d(0,0,0); } 100% { -moz-transform: translate3d(-2480px,0,0); -webkit-transform: translate3d(-2480px,0,0); -o-transform: translate3d(-2480px,0,0); -ms-transform: translate3d(-2480px,0,0); transform: translate3d(-2480px,0,0); } }

.bg {
    background-size: 496px auto;
    width: 6200px;
    background-position: bottom left;
    background-repeat: repeat-x;
}

/* typewriter effect */
@keyframes blink { 0% { opacity: 0; } 50% {opacity: 1;} 100% { opacity: 0;} }
.typewriter {

}

.typewriter::after {
    content: "";
    border-right: 3px solid var(--data-base-color);
    animation: blink 0.8s infinite;
}

.typewriter.done::after {
    display: none;
}

/* responsiveness */
@media all and (max-width: 950px) {
    h2 {
        font-size: calc(1.04em * 3);
    }
    
    h3 {
        font-size: calc(0.62em * 3);
    }
}

@media all and (max-width: 710px) {
    h2 {
        font-size: calc(1.04em * 2);
    }
    
    h3 {
        font-size: calc(0.62em * 2);
    }
}

@media all and (max-width: 480px) {
    div.justify {
        width: 60vw;
    }

    div.flex-container {
        width: 120%;
    }
    
    h2 {
        font-size: 6vw;
    }

    h3 {
        font-size: 6vw;
    }

}

@media all and (max-width: 480px) {
    h2 {
        font-size: 6vw;
    }

    h3 {
        font-size: 6vw;
    }

}

@media all and (max-width: 480px) {
    h2 {
        font-size: 6vw;
    }

    h3 {
        font-size: 6vw;
    }

}