html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width      : 100%;
    height     : 100%;
    margin     : 0;
    padding    : 0;
    overflow   : hidden;
    color      : #505050;
}

.pt-page {
    position  : absolute;
    top       : 0;
    bottom    : 0;
    left      : 0;
    right     : 0;
    width     : 100%;
    height    : 100%;
    border    : 0;
    padding   : 0;
    margin    : 0;
    display   : none;
    visibility: hidden;
    transform : translate(0, 0);
}

.pt-page.loaded {
    display: block;
}

.pt-current-page {
    z-index   : 9;
    visibility: visible;
}

.pt-next-page {
    z-index   : 1;
    visibility: hidden;
}

/* Welcome page */
section.greetings {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index : 99;
}

div.justify {
    margin-top: 6%;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

h2, h3 {
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}

h2 {
    font-size: calc(1.04em * 4);
    font-weight: bold;
}

h3 {
    font-size: calc(0.62em * 4);
    font-weight: 400;
}

#go {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1em;
    font-weight: bold;
    cursor: pointer;
}

#go > .line {
    flex-basis: 6%;
    margin-top: 0.2em;
    height: 1px;
    border-top: 1px solid #707070;
}

#go > .circle {
    margin-top: 0.15em;
    width: 0.33em;
    height: 0.33em;
    border: 1px solid #707070;
    border-radius: 50%;
}

#go > .circle.l {
    margin-right: 1em;
}

#go > .circle.r {
    margin-left: 1em;
}

.flex-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2.5em;
}

.fa {
    width: 5vw;
    height: 5vw;
    border: 1px solid #707070;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2vw;
}

.fa-github {
    background-image: url("/assets/icons/github.png");
}
.fa-facebook {
    background-image: url("/assets/icons/facebook.svg");
}
.fa-web {
    background-image: url("/assets/icons/web.svg");
}
.fa-email {
    background-image: url("/assets/icons/mail.svg");
}
.fa-nothing {
    background-image: url("/assets/icons/");
}

*:active {
    outline: none !important;
}

.bg {
    height: 40%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-image: url("/assets/images/outline.png");
    background-size: 60vh;
    background-position: bottom;
    background-repeat: repeat-x;
}

/* page effect */
