@import url('https://fonts.googleapis.com/css2?&family=Marcellus+SC&display=swap');

body, html {
    font-size: 22px;
    font-family:'Times New Roman', Times, serif;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

hr {
    border: 2px solid rgba(0, 0, 0, 0.8);
}

nav a {
    background-color: rgb(255, 96, 4);
    font-size: 1rem;
    color: white;
    border: 1px solid black;
    text-decoration: none;
}

ul {
    list-style-type: square;
}

.gallery ul {
    list-style-type: none;
}

.gallery ul li::before {   /* for accessibility announcing null list mark */
    content: "\200B";
}

figcaption {
    color: dimgrey;
}

.gallery figcaption {
    color: dimgrey;
}

blockquote {
    text-align: justify;
}

strong {
    color: red;
}

.equip, .softwares {
    list-style-type: none;
}
