body {
    display: block;
}

h2 {
    font-size: 2em;
}

#go {
    border          : 0;
    background-color: transparent;
}

div.greetings {
    display          : flex;
    flex-flow        : column nowrap;
    width            : 100%;
    /* max-width     : 1900px; */
    height           : 100%;
    background-image : url("/assets/images/welcome-bg.jpg");
    background-size  : cover;
    background-repeat: no-repeat;
}

.col-1 {
    flex-basis   : 60%;
    align-items  : center;
    align-content: center;
    flex-shrink  : 1;
    position     : relative;
}

.col-2 {
    flex-basis : 40%;
    flex-shrink: 2;
    position   : relative;
}